asgiref==3.5.2
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.9
cryptography==37.0.4
Django==4.1.1
idna==3.3
mysql-connector-python==8.0.29
numpy==1.23.2
opencv-python==4.6.0.66
Pillow==9.2.0
protobuf==4.21.6
pycparser==2.21
PyMySQL==1.0.2
requests==2.26.0
sqlparse==0.4.2
tzdata==2022.2
urllib3==1.26.7
